In [96]:
import urllib.request
url="https://raw.githubusercontent.com/sarahbismuth/DOCP3/master/tournamentinfo.txt"
data=urllib.request.urlopen(url).read()

In [97]:
data

b'-----------------------------------------------------------------------------------------\r\n Pair | Player Name                     |Total|Round|Round|Round|Round|Round|Round|Round| \r\n Num  | USCF ID / Rtg (Pre->Post)       | Pts |  1  |  2  |  3  |  4  |  5  |  6  |  7  | \r\n-----------------------------------------------------------------------------------------\r\n    1 | GARY HUA                        |6.0  |W  39|W  21|W  18|W  14|W   7|D  12|D   4|\r\n   ON | 15445895 / R: 1794   ->1817     |N:2  |W    |B    |W    |B    |W    |B    |W    |\r\n-----------------------------------------------------------------------------------------\r\n    2 | DAKSHESH DARURI                 |6.0  |W  63|W  58|L   4|W  17|W  16|W  20|W   7|\r\n   MI | 14598900 / R: 1553   ->1663     |N:2  |B    |W    |B    |W    |B    |W    |B    |\r\n-----------------------------------------------------------------------------------------\r\n    3 | ADITYA BAJAJ                    |6.0  |L   8|W  61|W  25|W  21|W  11|W  13|W  12|\r\n   MI | 14959604 / R: 1384   ->1640     |N:2  |W    |B    |W    |B    |W    |B    |W    |\r\n-----------------------------------------------------------------------------------------\r\n    4 | PATRICK H SCHILLING             |5.5  |W  23|D  28|W   2|W  26|D   5|W  19|D   1|\r\n   MI | 12616049 / R: 1716   ->1744     |N:2  |W    |B    |W    |B    |W    |B    |B    |\r\n-----------------------------------------------------------------------------------------\r\n    5 | HANSHI ZUO                      |5.5  |W  45|W  37|D  12|D  13|D   4|W  14|W  17|\r\n   MI | 14601533 / R: 1655   ->1690     |N:2  |B    |W    |B    |W    |B    |W    |B    |\r\n-----------------------------------------------------------------------------------------\r\n    6 | HANSEN SONG                     |5.0  |W  34|D  29|L  11|W  35|D  10|W  27|W  21|\r\n   OH | 15055204 / R: 1686   ->1687     |N:3  |W    |B    |W    |B    |B    |W    |B    |\r\n-----------------------------------------------------------------------------------------\r\n    7 | GARY DEE SWATHELL               |5.0  |W  57|W  46|W  13|W  11|L   1|W   9|L   2|\r\n   MI | 11146376 / R: 1649   ->1673     |N:3  |W    |B    |W    |B    |B    |W    |W    |\r\n-----------------------------------------------------------------------------------------\r\n    8 | EZEKIEL HOUGHTON                |5.0  |W   3|W  32|L  14|L   9|W  47|W  28|W  19|\r\n   MI | 15142253 / R: 1641P17->1657P24  |N:3  |B    |W    |B    |W    |B    |W    |W    |\r\n-----------------------------------------------------------------------------------------\r\n    9 | STEFANO LEE                     |5.0  |W  25|L  18|W  59|W   8|W  26|L   7|W  20|\r\n   ON | 14954524 / R: 1411   ->1564     |N:2  |W    |B    |W    |B    |W    |B    |B    |\r\n-----------------------------------------------------------------------------------------\r\n   10 | ANVIT RAO                       |5.0  |D  16|L  19|W  55|W  31|D   6|W  25|W  18|\r\n   MI | 14150362 / R: 1365   ->1544     |N:3  |W    |W    |B    |B    |W    |B    |W    |\r\n-----------------------------------------------------------------------------------------\r\n   11 | CAMERON WILLIAM MC LEMAN        |4.5  |D  38|W  56|W   6|L   7|L   3|W  34|W  26|\r\n   MI | 12581589 / R: 1712   ->1696     |N:3  |B    |W    |B    |W    |B    |W    |B    |\r\n-----------------------------------------------------------------------------------------\r\n   12 | KENNETH J TACK                  |4.5  |W  42|W  33|D   5|W  38|H    |D   1|L   3|\r\n   MI | 12681257 / R: 1663   ->1670     |N:3  |W    |B    |W    |B    |     |W    |B    |\r\n-----------------------------------------------------------------------------------------\r\n   13 | TORRANCE HENRY JR               |4.5  |W  36|W  27|L   7|D   5|W  33|L   3|W  32|\r\n   MI | 15082995 / R: 1666   ->1662     |N:3  |B    |W    |B    |B    |W    |W    |B    |\r\n-----------------------------------------------------------------------------------------\r\n   14 | BRADLEY SHAW                    |4.5  |W  54|W  44|W   8|L   1|D  27|L   5|W  31|\r\n   MI | 10131499 / R: 1610   ->1618     |N:3  |W    |B    |W    |W    |B    |B    |W    |\r\n-----------------------------------------------------------------------------------------\r\n   15 | ZACHARY JAMES HOUGHTON          |4.5  |D  19|L  16|W  30|L  22|W  54|W  33|W  38|\r\n   MI | 15619130 / R: 1220P13->1416P20  |N:3  |B    |B    |W    |W    |B    |B    |W    |\r\n-----------------------------------------------------------------------------------------\r\n   16 | MIKE NIKITIN                    |4.0  |D  10|W  15|H    |W  39|L   2|W  36|U    |\r\n   MI | 10295068 / R: 1604   ->1613     |N:3  |B    |W    |     |B    |W    |B    |     |\r\n-----------------------------------------------------------------------------------------\r\n   17 | RONALD GRZEGORCZYK              |4.0  |W  48|W  41|L  26|L   2|W  23|W  22|L   5|\r\n   MI | 10297702 / R: 1629   ->1610     |N:3  |W    |B    |W    |B    |W    |B    |W    |\r\n-----------------------------------------------------------------------------------------\r\n   18 | DAVID SUNDEEN                   |4.0  |W  47|W   9|L   1|W  32|L  19|W  38|L  10|\r\n   MI | 11342094 / R: 1600   ->1600     |N:3  |B    |W    |B    |W    |B    |W    |B    |\r\n-----------------------------------------------------------------------------------------\r\n   19 | DIPANKAR ROY                    |4.0  |D  15|W  10|W  52|D  28|W  18|L   4|L   8|\r\n   MI | 14862333 / R: 1564   ->1570     |N:3  |W    |B    |W    |B    |W    |W    |B    |\r\n-----------------------------------------------------------------------------------------\r\n   20 | JASON ZHENG                     |4.0  |L  40|W  49|W  23|W  41|W  28|L   2|L   9|\r\n   MI | 14529060 / R: 1595   ->1569     |N:4  |W    |B    |W    |B    |W    |B    |W    |\r\n-----------------------------------------------------------------------------------------\r\n   21 | DINH DANG BUI                   |4.0  |W  43|L   1|W  47|L   3|W  40|W  39|L   6|\r\n   ON | 15495066 / R: 1563P22->1562     |N:3  |B    |W    |B    |W    |W    |B    |W    |\r\n-----------------------------------------------------------------------------------------\r\n   22 | EUGENE L MCCLURE                |4.0  |W  64|D  52|L  28|W  15|H    |L  17|W  40|\r\n   MI | 12405534 / R: 1555   ->1529     |N:4  |W    |B    |W    |B    |     |W    |B    |\r\n-----------------------------------------------------------------------------------------\r\n   23 | ALAN BUI                        |4.0  |L   4|W  43|L  20|W  58|L  17|W  37|W  46|\r\n   ON | 15030142 / R: 1363   ->1371     |     |B    |W    |B    |W    |B    |W    |B    |\r\n-----------------------------------------------------------------------------------------\r\n   24 | MICHAEL R ALDRICH               |4.0  |L  28|L  47|W  43|L  25|W  60|W  44|W  39|\r\n   MI | 13469010 / R: 1229   ->1300     |N:4  |B    |W    |B    |B    |W    |W    |B    |\r\n-----------------------------------------------------------------------------------------\r\n   25 | LOREN SCHWIEBERT                |3.5  |L   9|W  53|L   3|W  24|D  34|L  10|W  47|\r\n   MI | 12486656 / R: 1745   ->1681     |N:4  |B    |W    |B    |W    |B    |W    |B    |\r\n-----------------------------------------------------------------------------------------\r\n   26 | MAX ZHU                         |3.5  |W  49|W  40|W  17|L   4|L   9|D  32|L  11|\r\n   ON | 15131520 / R: 1579   ->1564     |N:4  |B    |W    |B    |W    |B    |W    |W    |\r\n-----------------------------------------------------------------------------------------\r\n   27 | GAURAV GIDWANI                  |3.5  |W  51|L  13|W  46|W  37|D  14|L   6|U    |\r\n   MI | 14476567 / R: 1552   ->1539     |N:4  |W    |B    |W    |B    |W    |B    |     |\r\n-----------------------------------------------------------------------------------------\r\n   28 | SOFIA ADINA STANESCU-BELLU      |3.5  |W  24|D   4|W  22|D  19|L  20|L   8|D  36|\r\n   MI | 14882954 / R: 1507   ->1513     |N:3  |W    |W    |B    |W    |B    |B    |W    |\r\n-----------------------------------------------------------------------------------------\r\n   29 | CHIEDOZIE OKORIE                |3.5  |W  50|D   6|L  38|L  34|W  52|W  48|U    |\r\n   MI | 15323285 / R: 1602P6 ->1508P12  |N:4  |B    |W    |B    |W    |W    |B    |     |\r\n-----------------------------------------------------------------------------------------\r\n   30 | GEORGE AVERY JONES              |3.5  |L  52|D  64|L  15|W  55|L  31|W  61|W  50|\r\n   ON | 12577178 / R: 1522   ->1444     |     |W    |B    |B    |W    |W    |B    |B    |\r\n-----------------------------------------------------------------------------------------\r\n   31 | RISHI SHETTY                    |3.5  |L  58|D  55|W  64|L  10|W  30|W  50|L  14|\r\n   MI | 15131618 / R: 1494   ->1444     |     |B    |W    |B    |W    |B    |W    |B    |\r\n-----------------------------------------------------------------------------------------\r\n   32 | JOSHUA PHILIP MATHEWS           |3.5  |W  61|L   8|W  44|L  18|W  51|D  26|L  13|\r\n   ON | 14073750 / R: 1441   ->1433     |N:4  |W    |B    |W    |B    |W    |B    |W    |\r\n-----------------------------------------------------------------------------------------\r\n   33 | JADE GE                         |3.5  |W  60|L  12|W  50|D  36|L  13|L  15|W  51|\r\n   MI | 14691842 / R: 1449   ->1421     |     |B    |W    |B    |W    |B    |W    |B    |\r\n-----------------------------------------------------------------------------------------\r\n   34 | MICHAEL JEFFERY THOMAS          |3.5  |L   6|W  60|L  37|W  29|D  25|L  11|W  52|\r\n   MI | 15051807 / R: 1399   ->1400     |     |B    |W    |B    |B    |W    |B    |W    |\r\n-----------------------------------------------------------------------------------------\r\n   35 | JOSHUA DAVID LEE                |3.5  |L  46|L  38|W  56|L   6|W  57|D  52|W  48|\r\n   MI | 14601397 / R: 1438   ->1392     |     |W    |W    |B    |W    |B    |B    |W    |\r\n-----------------------------------------------------------------------------------------\r\n   36 | SIDDHARTH JHA                   |3.5  |L  13|W  57|W  51|D  33|H    |L  16|D  28|\r\n   MI | 14773163 / R: 1355   ->1367     |N:4  |W    |B    |W    |B    |     |W    |B    |\r\n-----------------------------------------------------------------------------------------\r\n   37 | AMIYATOSH PWNANANDAM            |3.5  |B    |L   5|W  34|L  27|H    |L  23|W  61|\r\n   MI | 15489571 / R:  980P12->1077P17  |     |     |B    |W    |W    |     |B    |W    |\r\n-----------------------------------------------------------------------------------------\r\n   38 | BRIAN LIU                       |3.0  |D  11|W  35|W  29|L  12|H    |L  18|L  15|\r\n   MI | 15108523 / R: 1423   ->1439     |N:4  |W    |B    |W    |W    |     |B    |B    |\r\n-----------------------------------------------------------------------------------------\r\n   39 | JOEL R HENDON                   |3.0  |L   1|W  54|W  40|L  16|W  44|L  21|L  24|\r\n   MI | 12923035 / R: 1436P23->1413     |N:4  |B    |W    |B    |W    |B    |W    |W    |\r\n-----------------------------------------------------------------------------------------\r\n   40 | FOREST ZHANG                    |3.0  |W  20|L  26|L  39|W  59|L  21|W  56|L  22|\r\n   MI | 14892710 / R: 1348   ->1346     |     |B    |B    |W    |W    |B    |W    |W    |\r\n-----------------------------------------------------------------------------------------\r\n   41 | KYLE WILLIAM MURPHY             |3.0  |W  59|L  17|W  58|L  20|X    |U    |U    |\r\n   MI | 15761443 / R: 1403P5 ->1341P9   |     |B    |W    |B    |W    |     |     |     |\r\n-----------------------------------------------------------------------------------------\r\n   42 | JARED GE                        |3.0  |L  12|L  50|L  57|D  60|D  61|W  64|W  56|\r\n   MI | 14462326 / R: 1332   ->1256     |     |B    |W    |B    |B    |W    |W    |B    |\r\n-----------------------------------------------------------------------------------------\r\n   43 | ROBERT GLEN VASEY               |3.0  |L  21|L  23|L  24|W  63|W  59|L  46|W  55|\r\n   MI | 14101068 / R: 1283   ->1244     |     |W    |B    |W    |W    |B    |B    |W    |\r\n-----------------------------------------------------------------------------------------\r\n   44 | JUSTIN D SCHILLING              |3.0  |B    |L  14|L  32|W  53|L  39|L  24|W  59|\r\n   MI | 15323504 / R: 1199   ->1199     |     |     |W    |B    |B    |W    |B    |W    |\r\n-----------------------------------------------------------------------------------------\r\n   45 | DEREK YAN                       |3.0  |L   5|L  51|D  60|L  56|W  63|D  55|W  58|\r\n   MI | 15372807 / R: 1242   ->1191     |     |W    |B    |W    |B    |W    |B    |W    |\r\n-----------------------------------------------------------------------------------------\r\n   46 | JACOB ALEXANDER LAVALLEY        |3.0  |W  35|L   7|L  27|L  50|W  64|W  43|L  23|\r\n   MI | 15490981 / R:  377P3 ->1076P10  |     |B    |W    |B    |W    |B    |W    |W    |\r\n-----------------------------------------------------------------------------------------\r\n   47 | ERIC WRIGHT                     |2.5  |L  18|W  24|L  21|W  61|L   8|D  51|L  25|\r\n   MI | 12533115 / R: 1362   ->1341     |     |W    |B    |W    |B    |W    |B    |W    |\r\n-----------------------------------------------------------------------------------------\r\n   48 | DANIEL KHAIN                    |2.5  |L  17|W  63|H    |D  52|H    |L  29|L  35|\r\n   MI | 14369165 / R: 1382   ->1335     |     |B    |W    |     |B    |     |W    |B    |\r\n-----------------------------------------------------------------------------------------\r\n   49 | MICHAEL J MARTIN                |2.5  |L  26|L  20|D  63|D  64|W  58|H    |U    |\r\n   MI | 12531685 / R: 1291P12->1259P17  |     |W    |W    |B    |W    |B    |     |     |\r\n-----------------------------------------------------------------------------------------\r\n   50 | SHIVAM JHA                      |2.5  |L  29|W  42|L  33|W  46|H    |L  31|L  30|\r\n   MI | 14773178 / R: 1056   ->1111     |     |W    |B    |W    |B    |     |B    |W    |\r\n-----------------------------------------------------------------------------------------\r\n   51 | TEJAS AYYAGARI                  |2.5  |L  27|W  45|L  36|W  57|L  32|D  47|L  33|\r\n   MI | 15205474 / R: 1011   ->1097     |     |B    |W    |B    |W    |B    |W    |W    |\r\n-----------------------------------------------------------------------------------------\r\n   52 | ETHAN GUO                       |2.5  |W  30|D  22|L  19|D  48|L  29|D  35|L  34|\r\n   MI | 14918803 / R:  935   ->1092     |N:4  |B    |W    |B    |W    |B    |W    |B    |\r\n-----------------------------------------------------------------------------------------\r\n   53 | JOSE C YBARRA                   |2.0  |H    |L  25|H    |L  44|U    |W  57|U    |\r\n   MI | 12578849 / R: 1393   ->1359     |     |     |B    |     |W    |     |W    |     |\r\n-----------------------------------------------------------------------------------------\r\n   54 | LARRY HODGE                     |2.0  |L  14|L  39|L  61|B    |L  15|L  59|W  64|\r\n   MI | 12836773 / R: 1270   ->1200     |     |B    |B    |W    |     |W    |B    |W    |\r\n-----------------------------------------------------------------------------------------\r\n   55 | ALEX KONG                       |2.0  |L  62|D  31|L  10|L  30|B    |D  45|L  43|\r\n   MI | 15412571 / R: 1186   ->1163     |     |W    |B    |W    |B    |     |W    |B    |\r\n-----------------------------------------------------------------------------------------\r\n   56 | MARISA RICCI                    |2.0  |H    |L  11|L  35|W  45|H    |L  40|L  42|\r\n   MI | 14679887 / R: 1153   ->1140     |     |     |B    |W    |W    |     |B    |W    |\r\n-----------------------------------------------------------------------------------------\r\n   57 | MICHAEL LU                      |2.0  |L   7|L  36|W  42|L  51|L  35|L  53|B    |\r\n   MI | 15113330 / R: 1092   ->1079     |     |B    |W    |W    |B    |W    |B    |     |\r\n-----------------------------------------------------------------------------------------\r\n   58 | VIRAJ MOHILE                    |2.0  |W  31|L   2|L  41|L  23|L  49|B    |L  45|\r\n   MI | 14700365 / R:  917   -> 941     |     |W    |B    |W    |B    |W    |     |B    |\r\n-----------------------------------------------------------------------------------------\r\n   59 | SEAN M MC CORMICK               |2.0  |L  41|B    |L   9|L  40|L  43|W  54|L  44|\r\n   MI | 12841036 / R:  853   -> 878     |     |W    |     |B    |B    |W    |W    |B    |\r\n-----------------------------------------------------------------------------------------\r\n   60 | JULIA SHEN                      |1.5  |L  33|L  34|D  45|D  42|L  24|H    |U    |\r\n   MI | 14579262 / R:  967   -> 984     |     |W    |B    |B    |W    |B    |     |     |\r\n-----------------------------------------------------------------------------------------\r\n   61 | JEZZEL FARKAS                   |1.5  |L  32|L   3|W  54|L  47|D  42|L  30|L  37|\r\n   ON | 15771592 / R:  955P11-> 979P18  |     |B    |W    |B    |W    |B    |W    |B    |\r\n-----------------------------------------------------------------------------------------\r\n   62 | ASHWIN BALAJI                   |1.0  |W  55|U    |U    |U    |U    |U    |U    |\r\n   MI | 15219542 / R: 1530   ->1535     |     |B    |     |     |     |     |     |     |\r\n-----------------------------------------------------------------------------------------\r\n   63 | THOMAS JOSEPH HOSMER            |1.0  |L   2|L  48|D  49|L  43|L  45|H    |U    |\r\n   MI | 15057092 / R: 1175   ->1125     |     |W    |B    |W    |B    |B    |     |     |\r\n-----------------------------------------------------------------------------------------\r\n   64 | BEN LI                          |1.0  |L  22|D  30|L  31|D  49|L  46|L  42|L  54|\r\n   MI | 15006561 / R: 1163   ->1112     |     |B    |W    |W    |B    |W    |B    |B    |\r\n-----------------------------------------------------------------------------------------'

In [98]:
data = str(data).replace('\\r', '').replace('\\n', '\n')

In [99]:
import re
pattern=r"([0-9]+)\s\|\s([A-Z-\s]+)\s*\|([0-9.]+)\s*\|[A-Z\s]*([0-9]*)?\|[A-Z\s]*([0-9]*)?\|[A-Z\s]*([0-9]*)?\|[A-Z\s]*([0-9]*)?\|[A-Z\s]*([0-9]*)?\|[A-Z\s]*([0-9]*)?\|[A-Z\s]*([0-9]*)?\|\s*([A-Z]{2})\s*\|\s[0-9]*\s....\s*([0-9]+)"

In [100]:
re.match(pattern, data)

In [101]:
players=[]
for item in re.finditer(pattern,str(data),re.MULTILINE):
    print(list(item.groups()))
    players.append(item.groups())

['1', 'GARY HUA                        ', '6.0', '39', '21', '18', '14', '7', '12', '4', 'ON', '1794']
['2', 'DAKSHESH DARURI                 ', '6.0', '63', '58', '4', '17', '16', '20', '7', 'MI', '1553']
['3', 'ADITYA BAJAJ                    ', '6.0', '8', '61', '25', '21', '11', '13', '12', 'MI', '1384']
['4', 'PATRICK H SCHILLING             ', '5.5', '23', '28', '2', '26', '5', '19', '1', 'MI', '1716']
['5', 'HANSHI ZUO                      ', '5.5', '45', '37', '12', '13', '4', '14', '17', 'MI', '1655']
['6', 'HANSEN SONG                     ', '5.0', '34', '29', '11', '35', '10', '27', '21', 'OH', '1686']
['7', 'GARY DEE SWATHELL               ', '5.0', '57', '46', '13', '11', '1', '9', '2', 'MI', '1649']
['8', 'EZEKIEL HOUGHTON                ', '5.0', '3', '32', '14', '9', '47', '28', '19', 'MI', '1641']
['9', 'STEFANO LEE                     ', '5.0', '25', '18', '59', '8', '26', '7', '20', 'ON', '1411']
['10', 'ANVIT RAO                       ', '5.0', '16', '19', '55', '31', '6', '25', '18', 'MI', '1365']
['11', 'CAMERON WILLIAM MC LEMAN        ', '4.5', '38', '56', '6', '7', '3', '34', '26', 'MI', '1712']
['12', 'KENNETH J TACK                  ', '4.5', '42', '33', '5', '38', '', '1', '3', 'MI', '1663']
['13', 'TORRANCE HENRY JR               ', '4.5', '36', '27', '7', '5', '33', '3', '32', 'MI', '1666']
['14', 'BRADLEY SHAW                    ', '4.5', '54', '44', '8', '1', '27', '5', '31', 'MI', '1610']
['15', 'ZACHARY JAMES HOUGHTON          ', '4.5', '19', '16', '30', '22', '54', '33', '38', 'MI', '1220']
['16', 'MIKE NIKITIN                    ', '4.0', '10', '15', '', '39', '2', '36', '', 'MI', '1604']
['17', 'RONALD GRZEGORCZYK              ', '4.0', '48', '41', '26', '2', '23', '22', '5', 'MI', '1629']
['18', 'DAVID SUNDEEN                   ', '4.0', '47', '9', '1', '32', '19', '38', '10', 'MI', '1600']
['19', 'DIPANKAR ROY                    ', '4.0', '15', '10', '52', '28', '18', '4', '8', 'MI', '1564']
['20', 'JASON ZHENG                     ', '4.0', '40', '49', '23', '41', '28', '2', '9', 'MI', '1595']
['21', 'DINH DANG BUI                   ', '4.0', '43', '1', '47', '3', '40', '39', '6', 'ON', '1563']
['22', 'EUGENE L MCCLURE                ', '4.0', '64', '52', '28', '15', '', '17', '40', 'MI', '1555']
['23', 'ALAN BUI                        ', '4.0', '4', '43', '20', '58', '17', '37', '46', 'ON', '1363']
['24', 'MICHAEL R ALDRICH               ', '4.0', '28', '47', '43', '25', '60', '44', '39', 'MI', '1229']
['25', 'LOREN SCHWIEBERT                ', '3.5', '9', '53', '3', '24', '34', '10', '47', 'MI', '1745']
['26', 'MAX ZHU                         ', '3.5', '49', '40', '17', '4', '9', '32', '11', 'ON', '1579']
['27', 'GAURAV GIDWANI                  ', '3.5', '51', '13', '46', '37', '14', '6', '', 'MI', '1552']
['28', 'SOFIA ADINA STANESCU-BELLU      ', '3.5', '24', '4', '22', '19', '20', '8', '36', 'MI', '1507']
['29', 'CHIEDOZIE OKORIE                ', '3.5', '50', '6', '38', '34', '52', '48', '', 'MI', '1602']
['30', 'GEORGE AVERY JONES              ', '3.5', '52', '64', '15', '55', '31', '61', '50', 'ON', '1522']
['31', 'RISHI SHETTY                    ', '3.5', '58', '55', '64', '10', '30', '50', '14', 'MI', '1494']
['32', 'JOSHUA PHILIP MATHEWS           ', '3.5', '61', '8', '44', '18', '51', '26', '13', 'ON', '1441']
['33', 'JADE GE                         ', '3.5', '60', '12', '50', '36', '13', '15', '51', 'MI', '1449']
['34', 'MICHAEL JEFFERY THOMAS          ', '3.5', '6', '60', '37', '29', '25', '11', '52', 'MI', '1399']
['35', 'JOSHUA DAVID LEE                ', '3.5', '46', '38', '56', '6', '57', '52', '48', 'MI', '1438']
['36', 'SIDDHARTH JHA                   ', '3.5', '13', '57', '51', '33', '', '16', '28', 'MI', '1355']
['37', 'AMIYATOSH PWNANANDAM            ', '3.5', '', '5', '34', '27', '', '23', '61', 'MI', '980']
['38', 'BRIAN LIU                       ', '3.0', '11', '35', '29', '12', '', '18', '15', 'MI', '1423']
['39', 'JOEL R HENDON                   ', '3.0', '1', '54', '40', '16', '44', '21', '24', 'MI', '1436']
['40', 'FOREST ZHANG                    ', '3.0', '20', '26', '39', '59', '21', '56', '22', 'MI', '1348']
['41', 'KYLE WILLIAM MURPHY             ', '3.0', '59', '17', '58', '20', '', '', '', 'MI', '1403']
['42', 'JARED GE                        ', '3.0', '12', '50', '57', '60', '61', '64', '56', 'MI', '1332']
['43', 'ROBERT GLEN VASEY               ', '3.0', '21', '23', '24', '63', '59', '46', '55', 'MI', '1283']
['44', 'JUSTIN D SCHILLING              ', '3.0', '', '14', '32', '53', '39', '24', '59', 'MI', '1199']
['45', 'DEREK YAN                       ', '3.0', '5', '51', '60', '56', '63', '55', '58', 'MI', '1242']
['46', 'JACOB ALEXANDER LAVALLEY        ', '3.0', '35', '7', '27', '50', '64', '43', '23', 'MI', '377']
['47', 'ERIC WRIGHT                     ', '2.5', '18', '24', '21', '61', '8', '51', '25', 'MI', '1362']
['48', 'DANIEL KHAIN                    ', '2.5', '17', '63', '', '52', '', '29', '35', 'MI', '1382']
['49', 'MICHAEL J MARTIN                ', '2.5', '26', '20', '63', '64', '58', '', '', 'MI', '1291']
['50', 'SHIVAM JHA                      ', '2.5', '29', '42', '33', '46', '', '31', '30', 'MI', '1056']
['51', 'TEJAS AYYAGARI                  ', '2.5', '27', '45', '36', '57', '32', '47', '33', 'MI', '1011']
['52', 'ETHAN GUO                       ', '2.5', '30', '22', '19', '48', '29', '35', '34', 'MI', '935']
['53', 'JOSE C YBARRA                   ', '2.0', '', '25', '', '44', '', '57', '', 'MI', '1393']
['54', 'LARRY HODGE                     ', '2.0', '14', '39', '61', '', '15', '59', '64', 'MI', '1270']
['55', 'ALEX KONG                       ', '2.0', '62', '31', '10', '30', '', '45', '43', 'MI', '1186']
['56', 'MARISA RICCI                    ', '2.0', '', '11', '35', '45', '', '40', '42', 'MI', '1153']
['57', 'MICHAEL LU                      ', '2.0', '7', '36', '42', '51', '35', '53', '', 'MI', '1092']
['58', 'VIRAJ MOHILE                    ', '2.0', '31', '2', '41', '23', '49', '', '45', 'MI', '917']
['59', 'SEAN M MC CORMICK               ', '2.0', '41', '', '9', '40', '43', '54', '44', 'MI', '853']
['60', 'JULIA SHEN                      ', '1.5', '33', '34', '45', '42', '24', '', '', 'MI', '967']
['61', 'JEZZEL FARKAS                   ', '1.5', '32', '3', '54', '47', '42', '30', '37', 'ON', '955']
['62', 'ASHWIN BALAJI                   ', '1.0', '55', '', '', '', '', '', '', 'MI', '1530']
['63', 'THOMAS JOSEPH HOSMER            ', '1.0', '2', '48', '49', '43', '45', '', '', 'MI', '1175']
['64', 'BEN LI                          ', '1.0', '22', '30', '31', '49', '46', '42', '54', 'MI', '1163']

In [102]:
import pandas as pd
import numpy as np

In [103]:
colnames=["player_id","player_name","total_points","round 1","round 2","round 3","round 4","round 5","round 6","round 7","state","pre_rating"]

df=pd.DataFrame(players,columns=colnames)
df=df.set_index("player_id")

In [104]:
df.head()

,player_name,total_points,round 1,round 2,round 3,round 4,round 5,round 6,round 7,state,pre_rating
player_id,,,,,,,,,,,
1,GARY HUA,6.0,39,21,18,14,7,12,4,ON,1794
2,DAKSHESH DARURI,6.0,63,58,4,17,16,20,7,MI,1553
3,ADITYA BAJAJ,6.0,8,61,25,21,11,13,12,MI,1384
4,PATRICK H SCHILLING,5.5,23,28,2,26,5,19,1,MI,1716
5,HANSHI ZUO,5.5,45,37,12,13,4,14,17,MI,1655

In [105]:
df.iloc[1]

player_name     DAKSHESH DARURI
total_points                                 6.0
round 1                                       63
round 2                                       58
round 3                                        4
round 4                                       17
round 5                                       16
round 6                                       20
round 7                                        7
state                                         MI
pre_rating                                  1553
Name: 2, dtype: object

In [106]:
def get_score(x):
    if x == '':
        return None
    return int(df.iloc[int(x) - 1]["pre_rating"])

In [107]:
df["round 2"]=df["round 2"].apply(get_score)

In [108]:
df["round 3"]=df["round 3"].apply(get_score)
df["round 4"]=df["round 4"].apply(get_score)
df["round 5"]=df["round 5"].apply(get_score)
df["round 6"]=df["round 6"].apply(get_score)
df["round 7"]=df["round 7"].apply(get_score)

In [109]:
df

,player_name,total_points,round 1,round 2,round 3,round 4,round 5,round 6,round 7,state,pre_rating
player_id,,,,,,,,,,,
1,GARY HUA,6.0,39,1563.0,1600.0,1610.0,1649.0,1663.0,1716.0,ON,1794
2,DAKSHESH DARURI,6.0,63,917.0,1716.0,1629.0,1604.0,1595.0,1649.0,MI,1553
3,ADITYA BAJAJ,6.0,8,955.0,1745.0,1563.0,1712.0,1666.0,1663.0,MI,1384
4,PATRICK H SCHILLING,5.5,23,1507.0,1553.0,1579.0,1655.0,1564.0,1794.0,MI,1716
5,HANSHI ZUO,5.5,45,980.0,1663.0,1666.0,1716.0,1610.0,1629.0,MI,1655
6,HANSEN SONG,5.0,34,1602.0,1712.0,1438.0,1365.0,1552.0,1563.0,OH,1686
7,GARY DEE SWATHELL,5.0,57,377.0,1666.0,1712.0,1794.0,1411.0,1553.0,MI,1649
8,EZEKIEL HOUGHTON,5.0,3,1441.0,1610.0,1411.0,1362.0,1507.0,1564.0,MI,1641
9,STEFANO LEE,5.0,25,1600.0,853.0,1641.0,1579.0,1649.0,1595.0,ON,1411
10,ANVIT RAO,5.0,16,1564.0,1186.0,1494.0,1686.0,1745.0,1600.0,MI,1365
11,CAMERON WILLIAM MC LEMAN,4.5,38,1153.0,1686.0,1649.0,1384.0,1399.0,1579.0,MI,1712
12,KENNETH J TACK,4.5,42,1449.0,1655.0,1423.0,NaN,1794.0,1384.0,MI,1663
13,TORRANCE HENRY JR,4.5,36,1552.0,1649.0,1655.0,1449.0,1384.0,1441.0,MI,1666
14,BRADLEY SHAW,4.5,54,1199.0,1641.0,1794.0,1552.0,1655.0,1494.0,MI,1610
15,ZACHARY JAMES HOUGHTON,4.5,19,1604.0,1522.0,1555.0,1270.0,1449.0,1423.0,MI,1220
16,MIKE NIKITIN,4.0,10,1220.0,NaN,1436.0,1553.0,1355.0,NaN,MI,1604
17,RONALD GRZEGORCZYK,4.0,48,1403.0,1579.0,1553.0,1363.0,1555.0,1655.0,MI,1629
18,DAVID SUNDEEN,4.0,47,1411.0,1794.0,1441.0,1564.0,1423.0,1365.0,MI,1600
19,DIPANKAR ROY,4.0,15,1365.0,935.0,1507.0,1600.0,1716.0,1641.0,MI,1564
20,JASON ZHENG,4.0,40,1291.0,1363.0,1403.0,1507.0,1553.0,1411.0,MI,1595
21,DINH DANG BUI,4.0,43,1794.0,1362.0,1384.0,1348.0,1436.0,1686.0,ON,1563
22,EUGENE L MCCLURE,4.0,64,935.0,1507.0,1220.0,NaN,1629.0,1348.0,MI,1555
23,ALAN BUI,4.0,4,1283.0,1595.0,917.0,1629.0,980.0,377.0,ON,1363
24,MICHAEL R ALDRICH,4.0,28,1362.0,1283.0,1745.0,967.0,1199.0,1436.0,MI,1229
25,LOREN SCHWIEBERT,3.5,9,1393.0,1384.0,1229.0,1399.0,1365.0,1362.0,MI,1745
26,MAX ZHU,3.5,49,1348.0,1629.0,1716.0,1411.0,1441.0,1712.0,ON,1579
27,GAURAV GIDWANI,3.5,51,1666.0,377.0,980.0,1610.0,1686.0,NaN,MI,1552
28,SOFIA ADINA STANESCU-BELLU,3.5,24,1716.0,1555.0,1564.0,1595.0,1641.0,1355.0,MI,1507
29,CHIEDOZIE OKORIE,3.5,50,1686.0,1423.0,1399.0,935.0,1382.0,NaN,MI,1602
30,GEORGE AVERY JONES,3.5,52,1163.0,1220.0,1186.0,1494.0,955.0,1056.0,ON,1522
...,...,...,...,...,...,...,...,...,...,...,...
35,JOSHUA DAVID LEE,3.5,46,1423.0,1153.0,1686.0,1092.0,935.0,1382.0,MI,1438
36,SIDDHARTH JHA,3.5,13,1092.0,1011.0,1449.0,NaN,1604.0,1507.0,MI,1355
37,AMIYATOSH PWNANANDAM,3.5,,1655.0,1399.0,1552.0,NaN,1363.0,955.0,MI,980
38,BRIAN LIU,3.0,11,1438.0,1602.0,1663.0,NaN,1600.0,1220.0,MI,1423
39,JOEL R HENDON,3.0,1,1270.0,1348.0,1604.0,1199.0,1563.0,1229.0,MI,1436
40,FOREST ZHANG,3.0,20,1579.0,1436.0,853.0,1563.0,1153.0,1555.0,MI,1348
41,KYLE WILLIAM MURPHY,3.0,59,1629.0,917.0,1595.0,NaN,NaN,NaN,MI,1403
42,JARED GE,3.0,12,1056.0,1092.0,967.0,955.0,1163.0,1153.0,MI,1332
43,ROBERT GLEN VASEY,3.0,21,1363.0,1229.0,1175.0,853.0,377.0,1186.0,MI,1283
44,JUSTIN D SCHILLING,3.0,,1610.0,1441.0,1393.0,1436.0,1229.0,853.0,MI,1199
45,DEREK YAN,3.0,5,1011.0,967.0,1153.0,1175.0,1186.0,917.0,MI,1242
46,JACOB ALEXANDER LAVALLEY,3.0,35,1649.0,1552.0,1056.0,1163.0,1283.0,1363.0,MI,377
47,ERIC WRIGHT,2.5,18,1229.0,1563.0,955.0,1641.0,1011.0,1745.0,MI,1362
48,DANIEL KHAIN,2.5,17,1175.0,NaN,935.0,NaN,1602.0,1438.0,MI,1382
49,MICHAEL J MARTIN,2.5,26,1595.0,1175.0,1163.0,917.0,NaN,NaN,MI,1291
50,SHIVAM JHA,2.5,29,1332.0,1449.0,377.0,NaN,1494.0,1522.0,MI,1056
51,TEJAS AYYAGARI,2.5,27,1242.0,1355.0,1092.0,1441.0,1362.0,1449.0,MI,1011
52,ETHAN GUO,2.5,30,1555.0,1564.0,1382.0,1602.0,1438.0,1399.0,MI,935
53,JOSE C YBARRA,2.0,,1745.0,NaN,1199.0,NaN,1092.0,NaN,MI,1393
54,LARRY HODGE,2.0,14,1436.0,955.0,NaN,1220.0,853.0,1163.0,MI,1270
55,ALEX KONG,2.0,62,1494.0,1365.0,1522.0,NaN,1242.0,1283.0,MI,1186
56,MARISA RICCI,2.0,,1712.0,1438.0,1242.0,NaN,1348.0,1332.0,MI,1153
57,MICHAEL LU,2.0,7,1355.0,1332.0,1011.0,1438.0,1393.0,NaN,MI,1092
58,VIRAJ MOHILE,2.0,31,1553.0,1403.0,1363.0,1291.0,NaN,1242.0,MI,917
59,SEAN M MC CORMICK,2.0,41,NaN,1411.0,1348.0,1283.0,1270.0,1199.0,MI,853
60,JULIA SHEN,1.5,33,1399.0,1242.0,1332.0,1229.0,NaN,NaN,MI,967
61,JEZZEL FARKAS,1.5,32,1384.0,1270.0,1362.0,1332.0,1522.0,980.0,ON,955
62,ASHWIN BALAJI,1.0,55,NaN,NaN,NaN,NaN,NaN,NaN,MI,1530
63,THOMAS JOSEPH HOSMER,1.0,2,1382.0,1291.0,1283.0,1242.0,NaN,NaN,MI,1175
64,BEN LI,1.0,22,1522.0,1494.0,1291.0,377.0,1332.0,1270.0,MI,1163

In [119]:
df[["round 1", "round 2", "round 3", "round 4", "round 5", "round 6", "round 7"]].mean(axis=1)

player_id
1     1633.500000
2     1518.333333
3     1550.666667
4     1608.666667
5     1544.000000
6     1538.666667
7     1418.833333
8     1482.500000
9     1486.166667
10    1545.833333
11    1475.000000
12    1541.000000
13    1521.666667
14    1555.833333
15    1470.500000
16    1391.000000
17    1518.000000
18    1499.666667
19    1460.666667
20    1421.333333
21    1501.666667
22    1327.800000
23    1130.166667
24    1332.000000
25    1355.333333
26    1542.833333
27    1263.800000
28    1571.000000
29    1365.000000
30    1179.000000
         ...
35    1278.500000
36    1332.600000
37    1384.800000
38    1504.600000
39    1368.833333
40    1356.500000
41    1380.333333
42    1064.333333
43    1030.500000
44    1327.000000
45    1068.166667
46    1344.333333
47    1357.333333
48    1287.500000
49    1212.500000
50    1234.800000
51    1323.500000
52    1490.000000
53    1345.333333
54    1125.400000
55    1381.200000
56    1414.400000
57    1305.800000
58    1370.400000
59    1302.200000
60    1300.500000
61    1308.333333
62            NaN
63    1299.500000
64    1214.333333
Length: 64, dtype: float64

In [120]:
df["op_avg"] = df[["round 1", "round 2", "round 3", "round 4", "round 5", "round 6", "round 7"]].mean(axis=1)

In [122]:
df

,player_name,total_points,round 1,round 2,round 3,round 4,round 5,round 6,round 7,state,pre_rating,op_avg
player_id,,,,,,,,,,,,
1,GARY HUA,6.0,39,1563.0,1600.0,1610.0,1649.0,1663.0,1716.0,ON,1794,1633.500000
2,DAKSHESH DARURI,6.0,63,917.0,1716.0,1629.0,1604.0,1595.0,1649.0,MI,1553,1518.333333
3,ADITYA BAJAJ,6.0,8,955.0,1745.0,1563.0,1712.0,1666.0,1663.0,MI,1384,1550.666667
4,PATRICK H SCHILLING,5.5,23,1507.0,1553.0,1579.0,1655.0,1564.0,1794.0,MI,1716,1608.666667
5,HANSHI ZUO,5.5,45,980.0,1663.0,1666.0,1716.0,1610.0,1629.0,MI,1655,1544.000000
6,HANSEN SONG,5.0,34,1602.0,1712.0,1438.0,1365.0,1552.0,1563.0,OH,1686,1538.666667
7,GARY DEE SWATHELL,5.0,57,377.0,1666.0,1712.0,1794.0,1411.0,1553.0,MI,1649,1418.833333
8,EZEKIEL HOUGHTON,5.0,3,1441.0,1610.0,1411.0,1362.0,1507.0,1564.0,MI,1641,1482.500000
9,STEFANO LEE,5.0,25,1600.0,853.0,1641.0,1579.0,1649.0,1595.0,ON,1411,1486.166667
10,ANVIT RAO,5.0,16,1564.0,1186.0,1494.0,1686.0,1745.0,1600.0,MI,1365,1545.833333
11,CAMERON WILLIAM MC LEMAN,4.5,38,1153.0,1686.0,1649.0,1384.0,1399.0,1579.0,MI,1712,1475.000000
12,KENNETH J TACK,4.5,42,1449.0,1655.0,1423.0,NaN,1794.0,1384.0,MI,1663,1541.000000
13,TORRANCE HENRY JR,4.5,36,1552.0,1649.0,1655.0,1449.0,1384.0,1441.0,MI,1666,1521.666667
14,BRADLEY SHAW,4.5,54,1199.0,1641.0,1794.0,1552.0,1655.0,1494.0,MI,1610,1555.833333
15,ZACHARY JAMES HOUGHTON,4.5,19,1604.0,1522.0,1555.0,1270.0,1449.0,1423.0,MI,1220,1470.500000
16,MIKE NIKITIN,4.0,10,1220.0,NaN,1436.0,1553.0,1355.0,NaN,MI,1604,1391.000000
17,RONALD GRZEGORCZYK,4.0,48,1403.0,1579.0,1553.0,1363.0,1555.0,1655.0,MI,1629,1518.000000
18,DAVID SUNDEEN,4.0,47,1411.0,1794.0,1441.0,1564.0,1423.0,1365.0,MI,1600,1499.666667
19,DIPANKAR ROY,4.0,15,1365.0,935.0,1507.0,1600.0,1716.0,1641.0,MI,1564,1460.666667
20,JASON ZHENG,4.0,40,1291.0,1363.0,1403.0,1507.0,1553.0,1411.0,MI,1595,1421.333333
21,DINH DANG BUI,4.0,43,1794.0,1362.0,1384.0,1348.0,1436.0,1686.0,ON,1563,1501.666667
22,EUGENE L MCCLURE,4.0,64,935.0,1507.0,1220.0,NaN,1629.0,1348.0,MI,1555,1327.800000
23,ALAN BUI,4.0,4,1283.0,1595.0,917.0,1629.0,980.0,377.0,ON,1363,1130.166667
24,MICHAEL R ALDRICH,4.0,28,1362.0,1283.0,1745.0,967.0,1199.0,1436.0,MI,1229,1332.000000
25,LOREN SCHWIEBERT,3.5,9,1393.0,1384.0,1229.0,1399.0,1365.0,1362.0,MI,1745,1355.333333
26,MAX ZHU,3.5,49,1348.0,1629.0,1716.0,1411.0,1441.0,1712.0,ON,1579,1542.833333
27,GAURAV GIDWANI,3.5,51,1666.0,377.0,980.0,1610.0,1686.0,NaN,MI,1552,1263.800000
28,SOFIA ADINA STANESCU-BELLU,3.5,24,1716.0,1555.0,1564.0,1595.0,1641.0,1355.0,MI,1507,1571.000000
29,CHIEDOZIE OKORIE,3.5,50,1686.0,1423.0,1399.0,935.0,1382.0,NaN,MI,1602,1365.000000
30,GEORGE AVERY JONES,3.5,52,1163.0,1220.0,1186.0,1494.0,955.0,1056.0,ON,1522,1179.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
35,JOSHUA DAVID LEE,3.5,46,1423.0,1153.0,1686.0,1092.0,935.0,1382.0,MI,1438,1278.500000
36,SIDDHARTH JHA,3.5,13,1092.0,1011.0,1449.0,NaN,1604.0,1507.0,MI,1355,1332.600000
37,AMIYATOSH PWNANANDAM,3.5,,1655.0,1399.0,1552.0,NaN,1363.0,955.0,MI,980,1384.800000
38,BRIAN LIU,3.0,11,1438.0,1602.0,1663.0,NaN,1600.0,1220.0,MI,1423,1504.600000
39,JOEL R HENDON,3.0,1,1270.0,1348.0,1604.0,1199.0,1563.0,1229.0,MI,1436,1368.833333
40,FOREST ZHANG,3.0,20,1579.0,1436.0,853.0,1563.0,1153.0,1555.0,MI,1348,1356.500000
41,KYLE WILLIAM MURPHY,3.0,59,1629.0,917.0,1595.0,NaN,NaN,NaN,MI,1403,1380.333333
42,JARED GE,3.0,12,1056.0,1092.0,967.0,955.0,1163.0,1153.0,MI,1332,1064.333333
43,ROBERT GLEN VASEY,3.0,21,1363.0,1229.0,1175.0,853.0,377.0,1186.0,MI,1283,1030.500000
44,JUSTIN D SCHILLING,3.0,,1610.0,1441.0,1393.0,1436.0,1229.0,853.0,MI,1199,1327.000000
45,DEREK YAN,3.0,5,1011.0,967.0,1153.0,1175.0,1186.0,917.0,MI,1242,1068.166667
46,JACOB ALEXANDER LAVALLEY,3.0,35,1649.0,1552.0,1056.0,1163.0,1283.0,1363.0,MI,377,1344.333333
47,ERIC WRIGHT,2.5,18,1229.0,1563.0,955.0,1641.0,1011.0,1745.0,MI,1362,1357.333333
48,DANIEL KHAIN,2.5,17,1175.0,NaN,935.0,NaN,1602.0,1438.0,MI,1382,1287.500000
49,MICHAEL J MARTIN,2.5,26,1595.0,1175.0,1163.0,917.0,NaN,NaN,MI,1291,1212.500000
50,SHIVAM JHA,2.5,29,1332.0,1449.0,377.0,NaN,1494.0,1522.0,MI,1056,1234.800000
51,TEJAS AYYAGARI,2.5,27,1242.0,1355.0,1092.0,1441.0,1362.0,1449.0,MI,1011,1323.500000
52,ETHAN GUO,2.5,30,1555.0,1564.0,1382.0,1602.0,1438.0,1399.0,MI,935,1490.000000
53,JOSE C YBARRA,2.0,,1745.0,NaN,1199.0,NaN,1092.0,NaN,MI,1393,1345.333333
54,LARRY HODGE,2.0,14,1436.0,955.0,NaN,1220.0,853.0,1163.0,MI,1270,1125.400000
55,ALEX KONG,2.0,62,1494.0,1365.0,1522.0,NaN,1242.0,1283.0,MI,1186,1381.200000
56,MARISA RICCI,2.0,,1712.0,1438.0,1242.0,NaN,1348.0,1332.0,MI,1153,1414.400000
57,MICHAEL LU,2.0,7,1355.0,1332.0,1011.0,1438.0,1393.0,NaN,MI,1092,1305.800000
58,VIRAJ MOHILE,2.0,31,1553.0,1403.0,1363.0,1291.0,NaN,1242.0,MI,917,1370.400000
59,SEAN M MC CORMICK,2.0,41,NaN,1411.0,1348.0,1283.0,1270.0,1199.0,MI,853,1302.200000
60,JULIA SHEN,1.5,33,1399.0,1242.0,1332.0,1229.0,NaN,NaN,MI,967,1300.500000
61,JEZZEL FARKAS,1.5,32,1384.0,1270.0,1362.0,1332.0,1522.0,980.0,ON,955,1308.333333
62,ASHWIN BALAJI,1.0,55,NaN,NaN,NaN,NaN,NaN,NaN,MI,1530,NaN
63,THOMAS JOSEPH HOSMER,1.0,2,1382.0,1291.0,1283.0,1242.0,NaN,NaN,MI,1175,1299.500000
64,BEN LI,1.0,22,1522.0,1494.0,1291.0,377.0,1332.0,1270.0,MI,1163,1214.333333

In [126]:
df1=df[['player_name','state','pre_rating','op_avg']]
df1

                                player_name state pre_rating       op_avg
player_id
1          GARY HUA                            ON       1794  1633.500000
2          DAKSHESH DARURI                     MI       1553  1518.333333
3          ADITYA BAJAJ                        MI       1384  1550.666667
4          PATRICK H SCHILLING                 MI       1716  1608.666667
5          HANSHI ZUO                          MI       1655  1544.000000
6          HANSEN SONG                         OH       1686  1538.666667
7          GARY DEE SWATHELL                   MI       1649  1418.833333
8          EZEKIEL HOUGHTON                    MI       1641  1482.500000
9          STEFANO LEE                         ON       1411  1486.166667
10         ANVIT RAO                           MI       1365  1545.833333
11         CAMERON WILLIAM MC LEMAN            MI       1712  1475.000000
12         KENNETH J TACK                      MI       1663  1541.000000
13         TORRANCE HENRY JR                   MI       1666  1521.666667
14         BRADLEY SHAW                        MI       1610  1555.833333
15         ZACHARY JAMES HOUGHTON              MI       1220  1470.500000
16         MIKE NIKITIN                        MI       1604  1391.000000
17         RONALD GRZEGORCZYK                  MI       1629  1518.000000
18         DAVID SUNDEEN                       MI       1600  1499.666667
19         DIPANKAR ROY                        MI       1564  1460.666667
20         JASON ZHENG                         MI       1595  1421.333333
21         DINH DANG BUI                       ON       1563  1501.666667
22         EUGENE L MCCLURE                    MI       1555  1327.800000
23         ALAN BUI                            ON       1363  1130.166667
24         MICHAEL R ALDRICH                   MI       1229  1332.000000
25         LOREN SCHWIEBERT                    MI       1745  1355.333333
26         MAX ZHU                             ON       1579  1542.833333
27         GAURAV GIDWANI                      MI       1552  1263.800000
28         SOFIA ADINA STANESCU-BELLU          MI       1507  1571.000000
29         CHIEDOZIE OKORIE                    MI       1602  1365.000000
30         GEORGE AVERY JONES                  ON       1522  1179.000000
...                                     ...   ...        ...          ...
35         JOSHUA DAVID LEE                    MI       1438  1278.500000
36         SIDDHARTH JHA                       MI       1355  1332.600000
37         AMIYATOSH PWNANANDAM                MI        980  1384.800000
38         BRIAN LIU                           MI       1423  1504.600000
39         JOEL R HENDON                       MI       1436  1368.833333
40         FOREST ZHANG                        MI       1348  1356.500000
41         KYLE WILLIAM MURPHY                 MI       1403  1380.333333
42         JARED GE                            MI       1332  1064.333333
43         ROBERT GLEN VASEY                   MI       1283  1030.500000
44         JUSTIN D SCHILLING                  MI       1199  1327.000000
45         DEREK YAN                           MI       1242  1068.166667
46         JACOB ALEXANDER LAVALLEY            MI        377  1344.333333
47         ERIC WRIGHT                         MI       1362  1357.333333
48         DANIEL KHAIN                        MI       1382  1287.500000
49         MICHAEL J MARTIN                    MI       1291  1212.500000
50         SHIVAM JHA                          MI       1056  1234.800000
51         TEJAS AYYAGARI                      MI       1011  1323.500000
52         ETHAN GUO                           MI        935  1490.000000
53         JOSE C YBARRA                       MI       1393  1345.333333
54         LARRY HODGE                         MI       1270  1125.400000
55         ALEX KONG                           MI       1186  1381.200000
56         MARISA RICCI                        MI       1153  1414.400000
57         MICHAEL LU                          MI       1092  1305.800000
58         VIRAJ MOHILE                        MI        917  1370.400000
59         SEAN M MC CORMICK                   MI        853  1302.200000
60         JULIA SHEN                          MI        967  1300.500000
61         JEZZEL FARKAS                       ON        955  1308.333333
62         ASHWIN BALAJI                       MI       1530          NaN
63         THOMAS JOSEPH HOSMER                MI       1175  1299.500000
64         BEN LI                              MI       1163  1214.333333

[64 rows x 4 columns]

In [127]:
df1.to_csv("chess.csv")